<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="container">
  <div class="row">


    <div class="col-md-12">
      <h4>Liste du staff</h4>
      <div class="table-responsive">


        <table id="mytable" class="table table-bordred table-striped">

          <thead>

          <th><input type="checkbox" id="checkall" /></th>
          <th>Num maillot</th>
          <th>Prenom</th>
          <th>Nom</th>
          <th>Attaque</th>
          <th>Defense</th>
          <th>Salaire(Millions)</th>

          <th>Edit</th>
          <th>Delete</th>
          </thead>


          <tbody>

          <tr>
            <td><input type="checkbox" class="checkthis" /></td>
            <td>69</td>
            <td>Cyril</td>
            <td>Hanouna</td>
            <td>100</td>
            <td>100</td>
            <td>152</td>
            <td><button class="btn btn-primary btn-xs" routerLink="IndexComponent"><span class="glyphicon glyphicon-pencil"></span></button></td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
          </tr>

          <tr>
            <td><input type="checkbox" class="checkthis" /></td>
            <td>85</td>
            <td>Eric</td>
            <td>Zemmour</td>
            <td>83</td>
            <td>94</td>
            <td>15,2</td>
            <td><button class="btn btn-primary btn-xs" routerLink="IndexComponent"><span class="glyphicon glyphicon-pencil"></span></button></td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
          </tr>


          </tbody>

        </table>
        <router-outlet></router-outlet>


      </div>

    </div>
  </div>
</div>
