<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<div class="container">
  <table class="table table-striped">
    <tbody>
    <tr>
      <td colspan="1">
        <form class="well form-horizontal">
          <fieldset>
            <a class="navbar-item">
              <img src="environments/header.jpg">
            </a>
          </fieldset>
        </form>
      </td>
      <td colspan="1">
        <form class="well form-horizontal">
          <fieldset>
            <div class="form-group">
              <label class="col-md-4 control-label">Numero maillot</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="NumMaillot" name="NumMaillot" placeholder="Numrero maillot" class="form-control" required="true" value="" type="text"></div>
              </div>
            </div>
            <div class="form-group">
            <label class="col-md-4 control-label">Prenom</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="Prenom" name="Prenom" placeholder="Prenom" class="form-control" required="true" value="" type="text"></div>
            </div>
          </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Nom</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="Nom" name="Nom" placeholder="Nom" class="form-control" required="true" value="" type="text"></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Attaque</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="Attaque" name="Attaque" placeholder="Attaque" class="form-control" required="true" value="" type="text"></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Defense</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="Defense" name="Defense" placeholder="Defense" class="form-control" required="true" value="" type="text"></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Salaire</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span><input id="Salaire" name="Salaire" placeholder="Salaire" class="form-control" required="true" value="" type="text"></div>
              </div>
            </div>
              <button type="button" class="btn btn-primary">Annuler</button>
              <button type="button" class="btn btn-primary">Mettre à jour</button>
          </fieldset>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
