<div class="tab-pane" id="compose">

  <div class="container">
    <div class="content-container clearfix">
      <h1 class="content-title">Créer un mail!</h1>
      <div class="col-md-12">
        <div class="form-group">
          <input id="tokenfield" type="text" class="form-control" placeholder="A" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Sujet" />
        </div>
        <textarea class="form-control" placeholder="Message"></textarea>
        <div class="btn-compose pull-left">
          <button class="btn btn-danger btn-lg" routerLink="/ShowMailComponent"> <span class="glyphicon glyphicon-remove"></span> Annuler</button>
        </div>
        <div class="btn-send pull-right">
          <button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-send"></span> Envoyé</button>
        </div>
      </div>
    </div>
  </div>
